body {
  font-family: Roboto,sans-serif;
}
.mainWrap, .resultWrap {
  position: relative;
  margin: auto;
  padding: 200px 20px 300px;
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
  background-color: #bacee0;
  box-shadow: 0 0 8px rgba($color: #000, $alpha: 0.3);
}
.mainWrap .mainNav, .resultWrap .resultNav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 25px;
  box-sizing: border-box;
  .mainbackIcon {
    float: left;
    height: 25px;
    cursor: pointer;
  }
  .searchIcon {
    float: right;
    margin-right: 20px;
    height: 25px;
    cursor: pointer;
  }
  .menuIcon {
    float: right;
    height: 25px;
    cursor: pointer;
  }
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}
// .mainWrap .inner, .resultWrap .inner {
// }
// @media screen and (max-width: 768px) {
// }
