.resultWrap {
  padding-top: 150px !important;
  .result {
    background-color: #ffffff;
    max-width: 440px;
    width: 100%;
    padding: 24px 18px 12px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    box-sizing: border-box;

    h3:first-child {
      border-radius: 20px;
      color: #999;
      margin: 10px auto;
      width: 100%;
      font-weight: normal;
    }
    h3:nth-child(2) {
      margin-top: 20px;
      border-radius: 20px;
      color: #2b2b2b;
      font-size: 16px;
      font-weight: 400;
      width: 100%;
    }
    h2 {
      margin-top: 8px;
      font-size: 20px;
      padding-left: 20px;
      padding-right: 20px;
    }
    > p {
      margin-top: 20px;
      color: #ff6600;
      font-weight: 700;
      font-size: 24px;
    }
    > img {
      margin-top: 20px;
      width: 200px;
      height: 200px;
    }

    .info {
      color: #727272;
      font-size: 14px;
      line-height: 24px;
      padding: 20px;
      text-align: justify;
      width: 100%;
      box-sizing: border-box;
    }

    span {
      font-size: 14px;
      color: #999;
      font-weight: 800;
    }
    ul {
      margin-top: 10px;
      li {
        color: #727272;
        font-size: 14px;
        line-height: 24px;
      }
    }
  }
  > button {
    display: block;
    cursor: pointer;
    margin: 0 auto;
    background-color: #fff;
    border: none;
    max-width: 300px;
    width: 100%;
    font-size: 16px;
    height: 48px;
    border-radius: 10px;
  }
  .urlbutton {
    margin-top: 40px;
    background-color: #fee501;
  }
  .mainbutton {
    margin-top: 10px;
    margin-bottom: 40px;
    background-color: #fee501;
  }
}
